.DS_Store
.env
.env.*
node_modules/
dist/
coverage/
logs/
*.log
*.pid
*.seed
*.pid.lock
public/uploads/
public/assets/
public/.cache/
public/.next/
public/.nuxt/
public/.cache/
public/.parcel-cache/
public/.vercel/     
